# Ignore all data subdirectories except data/patient_data
/data/*
!/data/patient_data/
!/data/patient_data/**
data/batch_input/

# Common Python ignores
__pycache__/
*.py[cod]
.venv/
venv/
# Python
__pycache__/
*.pyc
.venv/
.env

# macOS
.DS_Store

# VSCode
.vscode/